@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.panel{
  width: 20%;
  background-color: rgba(20, 20, 20, 0.271);
  padding: 30px;
  border-radius: 22px;
  margin-top: 7%;
  margin-right: 10%;
  margin-left: auto;
  float: right;
}

.title{
  font-weight: bolder;
  font-size: xxx-large;
  text-align: center;
  padding-bottom: 2%;
}

.title-m{
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
  padding-top: 8%;
  padding-bottom: 2%;
}

.game-info{
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 25px;
  margin-bottom: 5%;
  max-width: 58%;
  margin-left: 5%;
  margin-right: auto;
}

.main-m{
  padding-left: 5%;
  padding-right: 5%;
}

.Desc{
  margin-top: 5%;
  padding: 1%;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  font-size: larger;
  font-weight: 400;
  background-color: rgba(20, 20, 20, 0.271);
}

.Desc-m{
  margin-top: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  font-size: large;
  color: rgba(240, 248, 255, 0.795);
  background-color: rgba(20, 20, 20, 0.271);
}

.game-trailer{
  width: 100%;
  height: auto;
}

.game-trailer-m{
  width: 100%;
  height: auto;
}

.game-download{
  background-color: rgb(0, 183, 255);
  padding: 0;
  margin-top: 72px;
  margin-left: 250px;
  max-width: 25%;
  position: fixed;
  text-align: center;
  left: 65%;
  right: 0%
}

.game-download-btn,
.button3{
  margin-top: 15px;
  height: 50px;
  width: 100%;
}

.game-download-btn,
.button3-m{
  margin-top: 15px;
  /*height: 50px;*/
  height: 3.5rem;
  width: 100%;
}

.sys-req{
  text-align: center;
  background-color: rgba(20, 20, 20, 0.271);
  margin-top: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
  padding-bottom: 5%;
  border-radius: 12px;
}

.sys-child{
  width: 75%;
  border: #00b8e6;
  margin-left: auto;
  margin-right: auto;
  font-size: larger;
  max-height: 25%;
  padding: 50;
}

.sys-req-m{
  text-align: center;
  background-color: rgba(20, 20, 20, 0.271);
  margin-top: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
  padding-bottom: 5%;
}

.sys-child-m{
  width: 95%;
  border: #00b8e6;
  margin-left: 3%;
  margin-right: 2%;
  font-size:2.6vw;
}

.legal{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: rgba(20, 20, 20, 0.271);
  margin-top: 5%;
}

.legal-item{
  margin: 1%;
  border-radius: 1%;
  margin-bottom: 0%;
  padding-bottom: auto;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
}

.legal-item:hover{
  background-color: rgba(0, 0, 0, 0.271);
  opacity: 2;
  color: cornflowerblue;
}

.others{
  text-align: center;
  background-color: rgba(20, 20, 20, 0.271);
  margin-top: 5%;
  padding-top: 2%;
  padding-bottom: 5%;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 12px;
}

.holder-items{
  width: 20%;
}

.legal-m{
  display: flex;
  justify-content:space-evenly;
  text-align:center;
  background-color: rgba(20, 20, 20, 0.271);
  margin-top: 5%;
}

.legal-item-m{
  margin: 1%;
  font-size: medium;
}

.legal-m:link{
  color: #00b8e6;
}

.others-m{
  text-align: center;
  background-color: rgba(20, 20, 20, 0.271);
  margin-top: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

.holder-items-m{
  width: 40%;
}

.downloads-main{
  text-align: center;
  background-color: rgba(20, 20, 20, 0.271);
  margin-top: 5%;
  padding-top: 2%;
  padding-bottom: 5%;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 12px;
}

.downloads{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.download-item{
  font-weight: 800;
  background-color: black;
  border-radius: 12px;
  box-shadow: 12px;
  text-align: center;
  width: 15%;
  padding: 2%;
  margin: 2% auto;
}

.downloads-main-m{
  text-align: center;
  background-color: rgba(20, 20, 20, 0.271);
  margin-top: 5%;
  padding-top: 2%;
  padding-bottom: 5%;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 12px;
}

.downloads-m{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
}

.download-item-m{
  font-weight: 800;
  background-color: black;
  border-radius: 12px;
  box-shadow: 12px;
  text-align: center;
  width: max-content;
  height: max-content;
  padding: 2%;
  margin: 2% auto;
}

.countDown{
  display: none;
  background-color: black;
  width: 90%;
  height: 90%;
}

   .button {
     background-color: #04AA6D;
     border: none;
     color: rgb(123, 148, 168)7;
     padding: 20px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
   }
   
   .button1 {border-radius: 2px;  background-color: rgb(0, 110, 255);
     color: rgb(255, 255, 255);}
   .button2 {border-radius: 4px;}
   .button3 {
     border-radius: 9px;
     background-color: rgb(0, 110, 255);
     color: rgb(255, 255, 255);
     border: none;
   }
   .button3-m {
    border-radius: 7px;
    background-color: rgb(0, 110, 255);
    color: rgb(255, 255, 255);
    border: none;
  }
   .button4 {border-radius: 12px;}

  /*GALLERY*/
  .column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8;
    cursor: pointer;
    width: 100%;
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container (positioning is needed to position the close button and the text) */
  .cont {
    position: relative;
    display: none;
  }

  .cont-m {
    position: relative;
    display: none;
  }

  /* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
